{% extends "layout.twig" %}

{% block content %}

{% include 'includes/header.twig' %}

<div class="bk-feature clearfix">
	<div class="container">
	    {{widget('feature', 'feature-widget', {"header": "LOREM IPSUM", "strapline":"Lorem ipsum dolor sit amet, consectetur adipiscing elit.", "buttonText":"Elit amet →","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': false})|raw}}
	</div><!--end container-->
</div><!--end bk-feature-->

<div class="container">
	<div role="main">
    	{{zone('main')|raw}}
	</div><!--end main-->
</div><!--end container-->

{% include 'includes/footer.twig' %}

{% endblock %}
