<footer class="bk-footer">
    <div class="container">
        {{widget('profile', 'footer-copyright', { 'profileType':'copyright', 'copyright':'profile'})|raw}}
        {{widget('companyname', 'footer-companyname', {"business": "AFFLUENCE"})|raw}}
        {{widget('profile', 'footer-phone', { 'profileType':'phone', 'phone':'profile'})|raw}} 
    </div><!--end container-->
</footer>